<!DOCTYPE html>
<html>
<head>
    <title>Hypecop</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/ext/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/angular-toastr.css">
    <link rel="stylesheet" href="/styles/carousel.css">
    <link rel="stylesheet" href="/styles/custom-bootstrap.css">
    <link rel="stylesheet" href="/styles/drop.css">
    <link rel="stylesheet" href="/styles/ext/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/styles/home.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/simple-sidebar.css">
    <!--STYLES END-->

    <!--Added this so the client has access to the csrf tag and it's grabbed first service side on every page -->
    <script type="text/javascript">
        window.SAILS_LOCALS = { 
            _csrf: "<%= _csrf %>",
            me: <%- JSON.stringify(me) %>
        };
    </script>
</head>

<body>
    <nav class="navbar navbar-default navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Hypecop</a>
                <!-- <img src="images/logo_blk.png"> -->
            </div>
            <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'">
                <!-- This is what "styles" the li's as navbar items -->
                <ul class="nav navbar-nav navbar-right">
                    <!-- navbar-right pulls this element right -->
                    <!-- Using ng-show instead of ng-if because we need this mark-up to be in the dom when signup controller
                    fires.  If it's not there (which it wouldn't be in the case of ng-if) then the scope of the signup
                    controller will not be tied to this element. -->
                    <li>
                        <a href="/logout">Sign out</a>
                    </li>
                    <!-- <a ng-controller="signinController" class="btn btn-default navbar-btn navbar-right" href="#" ng-if="!isAuthenticated">sign-in</a> -->
                    <!-- Using ng-show instead of ng-if because we need this mark-up to be in the dom when signup controller
                    fires.  If it's not there (which it wouldn't be in the case of ng-if) then the scope of the signup
                    controller will not be tied to this element. -->
                </ul>
            </div>
        </div>
    </nav>

    <div id="wrapper">
        <!-- Sidebar -->
        <!-- http://www.jasny.net/bootstrap/examples/navmenu-reveal/ -->
        <div id="sidebar-wrapper">
            <h2>billing info</h2>
            <div id="billing-info">
                <div>
                    <span>name</span>
                    <input id="billing-name">
                </div>
                <div>
                    <span>email</span>
                    <input id="email">
                </div>
                <div>
                    <span>tel</span>
                    <input id="tel" placeholder="(123) 456-7890">
                </div>
                <div>
                    <span>billing address</span>
                    <input id="billing-address">
                </div>
                <div>
                    <span>billing address (cont)</span>
                    <input id="billing-address-2">
                </div>
                <div>
                    <span>zip</span>
                    <input id="billing-zip" maxlength="5">
                </div>
                <div>
                    <span>city</span>
                    <input id="billing-city">
                </div>
                <div>
                    <span>state</span>
                    <select id="billing-state">
                        <option selected disabled hidden value=""></option>
                        <option value="AL">AL</option>
                        <option value="AK">AK</option>
                        <option value="AS">AS</option>
                        <option value="AZ">AZ</option>
                        <option value="AR">AR</option>
                        <option value="CA">CA</option>
                        <option value="CO">CO</option>
                        <option value="CT">CT</option>
                        <option value="DE">DE</option>
                        <option value="DC">DC</option>
                        <option value="FM">FM</option>
                        <option value="FL">FL</option>
                        <option value="GA">GA</option>
                        <option value="GU">GU</option>
                        <option value="HI">HI</option>
                        <option value="ID">ID</option>
                        <option value="IL">IL</option>
                        <option value="IN">IN</option>
                        <option value="IA">IA</option>
                        <option value="KS">KS</option>
                        <option value="KY">KY</option>
                        <option value="LA">LA</option>
                        <option value="ME">ME</option>
                        <option value="MH">MH</option>
                        <option value="MD">MD</option>
                        <option value="MA">MA</option>
                        <option value="MI">MI</option>
                        <option value="MN">MN</option>
                        <option value="MS">MS</option>
                        <option value="MO">MO</option>
                        <option value="MT">MT</option>
                        <option value="NE">NE</option>
                        <option value="NV">NV</option>
                        <option value="NH">NH</option>
                        <option value="NJ">NJ</option>
                        <option value="NM">NM</option>
                        <option value="NY">NY</option>
                        <option value="NC">NC</option>
                        <option value="ND">ND</option>
                        <option value="MP">MP</option>
                        <option value="OH">OH</option>
                        <option value="OK">OK</option>
                        <option value="OR">OR</option>
                        <option value="PW">PW</option>
                        <option value="PA">PA</option>
                        <option value="PR">PR</option>
                        <option value="RI">RI</option>
                        <option value="SC">SC</option>
                        <option value="SD">SD</option>
                        <option value="TN">TN</option>
                        <option value="TX">TX</option>
                        <option value="UT">UT</option>
                        <option value="VT">VT</option>
                        <option value="VI">VI</option>
                        <option value="VA">VA</option>
                        <option value="WA">WA</option>
                        <option value="WV">WV</option>
                        <option value="WI">WI</option>
                        <option value="WY">WY</option>
                    </select>
                </div>
                <div>
                    <span>country</span>
                    <select id="billing-country">
                        <option selected disabled hidden value=""></option>
                        <option value="USA">USA</option>
                    </select>
                </div>
            </div>
            <h2>credit card info</h2>
            <div id="cc-info">
                <div>
                    <span>cc type</span>
                    <select id="cc-type">
                        <option selected disabled hidden value=""></option>
                        <option value="visa">Visa</option>
                        <option value="american-express">American Express</option>
                        <option value="mastercard">MasterCard</option>
                    </select>
                </div>
                <div>
                    <span>cc number</span>
                    <input id="cc-number" maxlength="16" placeholder="4222222222222220">
                </div>
                <div>
                    <span>exp. date</span>
                    <select id="cc-month">
                        <option selected disabled hidden value=""></option>
                        <option value="01">01</option>
                        <option value="02">02</option>
                        <option value="03">03</option>
                        <option value="04">04</option>
                        <option value="05">05</option>
                        <option value="06">06</option>
                        <option value="07">07</option>
                        <option value="08">08</option>
                        <option value="09">09</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                    </select>
                    <select id="cc-year">
                        <option selected disabled hidden value=""></option>
                        <% var currYear = new Date().getFullYear(); %>
                        <% for (var i = currYear; i <= currYear + 20; i++) { %>
                        <option value="<%= i %>"><%= i %></option>
                        <% } %>
                    </select>
                </div>
                <div>
                    <span>CVV</span>
                    <input id="cc-cvv" maxlength="4">
                </div>
            </div>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Info</a>
                    <div class="cop-form-container">
                        <div class="cop-form">
                            <input type="text" class="item-url" placeholder="e.g. http://www.supremenewyork.com/shop/accessories/supreme-playboy-gold-ring" style="width: 700px">
                            <select class="size">
                                <option selected value=""></option>
                                <option value="Small">Small</option>
                                <option value="Medium">Medium</option>
                                <option value="Large">Large</option>
                                <option value="XLarge">XLarge</option>
                                <option value="30">30</option>
                                <option value="32">32</option>
                                <option value="34">34</option>
                                <option value="36">36</option>
                                <option value="8">8</option>
                                <option value="8.5">8.5</option>
                                <option value="9">9</option>
                                <option value="9.5">9.5</option>
                                <option value="10">10</option>
                                <option value="10.5">10.5</option>
                                <option value="11">11</option>
                                <option value="11.5">11.5</option>
                                <option value="12">12</option>
                                <option value="13">13</option>
                            </select>
                            <button class="addItem">+</button>
                            <button class="removeItem">-</button>
                        </div>
                    </div>
                    <input type="submit" value="Submit" id="submit-btn">
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    <!--SCRIPTS-->
    <script src="/js/ext/sails.io.js"></script>
    <script src="/js/ext/angular.1.3.js"></script>
    <script src="/js/ext/jquery-2.1.4.min.js"></script>
    <script src="/js/ext/jquery.validate.min.js"></script>
    <script src="/js/ext/angular-toastr.js"></script>
    <script src="/js/ext/bootstrap.min.js"></script>
    <script src="/js/ext/compareTo.module.js"></script>
    <script src="/js/public/signup/SignupModule.js"></script>
    <script src="/js/public/home/HomeModule.js"></script>
    <script src="/js/private/dashboard/DashboardModule.js"></script>
    <script src="/js/private/dashboard/DashboardController.js"></script>
    <script src="/js/public/home/HomeController.js"></script>
    <script src="/js/public/signup/SignupController.js"></script>
    <!--SCRIPTS END-->
    <script src="/nogrunt-js/menutoggle.js"></script>
    <script src="/nogrunt-js/cop.js"></script>
    <script src="/nogrunt-js/dropupdater.js"></script>
    <script src="/nogrunt-js/itemAdder.js"></script>
</body>
</html>