<div id="wrapper">
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <h2>billing info</h2>
        <div id="billing-info">
            <div>
                <span>name</span>
                <input id="billing_name">
            </div>
            <div>
                <span>email</span>
                <input id="email">
            </div>
            <div>
                <span>tel</span>
                <input id="tel" placeholder="(123) 456-7890">
            </div>
            <div>
                <span>billing address</span>
                <input id="billing_address">
            </div>
            <div>
                <span>billing address (cont)</span>
                <input id="billing_address_2">
            </div>
            <div>
                <span>zip</span>
                <input id="billing_zip" maxlength="5">
            </div>
            <div>
                <span>city</span>
                <input id="billing_city">
            </div>
            <div>
                <span>state</span>
                <select id="billing_state">
                    <option selected disabled hidden value=""></option>
                    <option value="AL">AL</option>
                    <option value="AK">AK</option>
                    <option value="AS">AS</option>
                    <option value="AZ">AZ</option>
                    <option value="AR">AR</option>
                    <option value="CA">CA</option>
                    <option value="CO">CO</option>
                    <option value="CT">CT</option>
                    <option value="DE">DE</option>
                    <option value="DC">DC</option>
                    <option value="FM">FM</option>
                    <option value="FL">FL</option>
                    <option value="GA">GA</option>
                    <option value="GU">GU</option>
                    <option value="HI">HI</option>
                    <option value="ID">ID</option>
                    <option value="IL">IL</option>
                    <option value="IN">IN</option>
                    <option value="IA">IA</option>
                    <option value="KS">KS</option>
                    <option value="KY">KY</option>
                    <option value="LA">LA</option>
                    <option value="ME">ME</option>
                    <option value="MH">MH</option>
                    <option value="MD">MD</option>
                    <option value="MA">MA</option>
                    <option value="MI">MI</option>
                    <option value="MN">MN</option>
                    <option value="MS">MS</option>
                    <option value="MO">MO</option>
                    <option value="MT">MT</option>
                    <option value="NE">NE</option>
                    <option value="NV">NV</option>
                    <option value="NH">NH</option>
                    <option value="NJ">NJ</option>
                    <option value="NM">NM</option>
                    <option value="NY">NY</option>
                    <option value="NC">NC</option>
                    <option value="ND">ND</option>
                    <option value="MP">MP</option>
                    <option value="OH">OH</option>
                    <option value="OK">OK</option>
                    <option value="OR">OR</option>
                    <option value="PW">PW</option>
                    <option value="PA">PA</option>
                    <option value="PR">PR</option>
                    <option value="RI">RI</option>
                    <option value="SC">SC</option>
                    <option value="SD">SD</option>
                    <option value="TN">TN</option>
                    <option value="TX">TX</option>
                    <option value="UT">UT</option>
                    <option value="VT">VT</option>
                    <option value="VI">VI</option>
                    <option value="VA">VA</option>
                    <option value="WA">WA</option>
                    <option value="WV">WV</option>
                    <option value="WI">WI</option>
                    <option value="WY">WY</option>
                </select>
            </div>
            <div>
                <span>country</span>
                <select id="billing_country">
                    <option selected disabled hidden value=""></option>
                    <option value="USA">USA</option>
                </select>
            </div>
        </div>
        <h2>credit card info</h2>
        <div id="cc-info">
            <div>
                <span>cc type</span>
                <select id="cc_type">
                    <option selected disabled hidden value=""></option>
                    <option value="visa">Visa</option>
                    <option value="american_express">American Express</option>
                    <option value="mastercard">MasterCard</option>
                </select>
            </div>
            <div>
                <span>cc number</span>
                <input id="cc_number" maxlength="16" placeholder="4222222222222220">
            </div>
            <div>
                <span>exp. date</span>
                <select id="cc_month">
                    <option selected disabled hidden value=""></option>
                    <option value="01">01</option>
                    <option value="02">02</option>
                    <option value="03">03</option>
                    <option value="04">04</option>
                    <option value="05">05</option>
                    <option value="06">06</option>
                    <option value="07">07</option>
                    <option value="08">08</option>
                    <option value="09">09</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                </select>
                <select id="cc_year">
                    <option selected disabled hidden value=""></option>
                    <% var currYear = new Date().getFullYear(); %>
                    <% for (var i = currYear; i <= currYear + 20; i++) { %>
                    <option value="<%= i %>"><%= i %></option>
                    <% } %>
                </select>
            </div>
            <div>
                <span>CVV</span>
                <input id="cc_cvv" maxlength="4">
            </div>
        </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Info</a>
                    <div id="copform">
                        <input type="text" id="supreme_url" placeholder="e.g. http://www.supremenewyork.com/shop/accessories/supreme-playboy-gold-ring" style="width: 700px">
                        <select id="size">
                            <option selected value=""></option>
                            <option value="Small">Small</option>
                            <option value="Medium">Medium</option>
                            <option value="Large">Large</option>
                            <option value="XLarge">XLarge</option>
                        </select>
                        <input type="submit" value="Submit" id="submitBtn">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->
</div>
