<!DOCTYPE html>
<html>
<head>
  <title>Hypecop</title>

  <!-- Viewport mobile tag for sensible mobile support -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="favicon.ico">

  <!--STYLES-->
  <link rel="stylesheet" href="/styles/ext/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/angular-toastr.css">
  <link rel="stylesheet" href="/styles/carousel.css">
  <link rel="stylesheet" href="/styles/custom-bootstrap.css">
  <link rel="stylesheet" href="/styles/drop.css">
  <link rel="stylesheet" href="/styles/ext/bootstrap-theme.min.css">
  <link rel="stylesheet" href="/styles/home.css">
  <link rel="stylesheet" href="/styles/importer.css">
  <link rel="stylesheet" href="/styles/simple-sidebar.css">
  <!--STYLES END-->

  <!--Added this so the client has access to the csrf tag and it's grabbed first service side on every page -->
  <script type="text/javascript">
    window.SAILS_LOCALS = { _csrf: "<%= _csrf %>" };
  </script>

</head>

<body ng-app="HomeModule" ng-controller="HomeController" ng-cloak>
  <nav class="navbar navbar-default navbar-inverse navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Hypecop</a>
        <!-- <img src="images/logo_blk.png"> -->
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <form ng-submit="submitLoginForm()" class="navbar-form navbar-right">
          <table cellspacing="2" role="presentation">
            <tbody>
              <tr>
                <td>
                  <div class="form-group">
                    <input ng-model="loginForm.email" type="text" placeholder="Email" name="email" class="form-control">
                  </div>
                </td>
                <td>
                  <div class="form-group">
                    <input ng-model="loginForm.password" type="password" placeholder="Password" name="password" class="form-control">
                  </div>
                </td>
                <td>
                  <button type="submit" class="btn btn-primary">
                    <span ng-show="!loginForm.loading">Sign in</span>
                    <span ng-show="loginForm.loading" class="fa fa-spinner"></span>
                    <span ng-show="loginForm.loading">Signing in...</span>
                  </button>
                </td>
              </tr>
              <tr>
                <td class="login_form_label_field"> <!-- class??? -->
                  <div>
                    <div class="uiInputLabel clearfix uiInputLabelLegacy">
                      <input id="persist_box" class="uiInputLabelInput uiInputLabelCheckbox" type="checkbox" tabindex="3" value="1" name="persistent">
                      <label class="uiInputLabelLabel" for="persist_box">Remember me</label>
                    </div>
                    <input type="hidden" value="0" name="default_persistent">
                  </div>
                </td>
                <td class="login_form_label_field">
                  <a href="#"><label class="uiInputLabelLabel" for="persist_box">Forgot password</label></a>
                </td>
              </tr>
            </tbody>
          </table>
          <input type="hidden" name="_csrf" value="<%= _csrf %>" />
        </form>
      </div>
    </div>
  </nav>

  <!-- Carousel================================================== -->
  <!-- Full Page Image Background Carousel Header -->
  <header id="myCarousel" class="carousel slide">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for Slides -->
    <div class="carousel-inner">
      <div class="item active">
        <!-- Set the first background image using inline CSS below. -->
        <div class="fill" style="background-color:#ccc;"></div>
        <div class="carousel-caption">
          <h1>Introducing Hypecop</h1>
          <p>The newest, most reliable way to Cop the Hype.<br>
            Leave botters and resellers in the dust.</p>
            <p><a class="btn btn-lg btn-primary" href="/signup" role="button">Sign up today</a></p>
          </div>
        </div>
        <div class="item">
          <!-- Set the second background image using inline CSS below. -->
          <div class="fill" style="background-color:#ccc;"></div>
          <div class="carousel-caption">
            <h2>Caption 2</h2>
          </div>
        </div>
        <div class="item">
          <!-- Set the third background image using inline CSS below. -->
          <div class="fill" style="background-image:url('http://placehold.it/1900x1080&text=Slide Three');"></div>
          <div class="carousel-caption">
            <h2>Caption 3</h2>
          </div>
        </div>
      </div>

      <!-- Controls -->
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="icon-prev"></span>
      </a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="icon-next"></span>
      </a>

    </header>

    <!-- Marketing messaging and featurettes================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-offset-2 col-lg-4">
          <img src="images/icons/FastIcon.png" alt="Fast" width="128" height="128">
          <h2>Fast.</h2>
          <p>Hypecop wipes the floor with its competitors. Copping an item takes under a second - guaranteed.</p>
          <p><a id="sign-up" class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img src="images/icons/FairIcon.png" alt="Fair" width="128" height="128">
          <h2>Fair.</h2>
          <p>Hypecop takes a small commission only once your order processes successfully.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-offset-2 col-lg-4">
          <img src="images/icons/SecureIcon.png" alt="Secure" width="128" height="128">
          <h2>Secure.</h2>
          <p>Hypecop uses 256-bit industry-standard SSL encryption and is PCI DSS compliant.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img src="images/icons/HassleFreeIcon.png" alt="Hassle-Free" width="128" height="128">
          <h2>Hassle-Free.</h2>
          <p>Hypecop doesn't require any downloads. Cop the Hype from a Mac, PC, or even your phone!</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
    <!-- <div style="display: none;">
      <p><a id="sign-up" class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div> -->
  </div><!-- /.row -->

  <hr class="divider" ><!-- id="sign-up" -->

  <!-- SIGNUP -->
  <div class="container signup">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <form action="/user" method="post" accept-charset="utf-8" class="form" role="form">
          <h2 class="featurette-heading">Cop the Hype now.</h2>
          <br>
          <div class="row">
            <div class="col-xs-6 col-md-6">
              <input type="text" name="firstName" value="" class="form-control input-lg" placeholder="First Name"/>
            </div>
            <div class="col-xs-6 col-md-6">
              <input type="text" name="lastName" value="" class="form-control input-lg" placeholder="Last Name"/>
            </div>
          </div>
          <input type="text" name="email" value="" class="form-control input-lg" placeholder="Your Email"/>
          <input type="password" name="pw" value="" class="form-control input-lg" placeholder="Password"/>
          <span class="help-block">By clicking Sign up, you agree to our <a href="#">Terms</a>.</span>
          <button class="btn btn-primary btn-lg btn-block" type="submit">Sign up</button>
          <input type="hidden" name="_csrf" value="<%= _csrf %>" />
        </form>
      </div>
    </div>            
  </div>

  <hr class="divider">

  <!-- /END SIGNUP-->

  <!-- FOOTER -->
  <footer>
    <div class="container">
      <div class="row">
        <p class="pull-right col-sm-2"><a href="#myCarousel">Back to top</a></p>
        <div class="col-sm-2">
          <h5><b>Hypecop &copy; 2015</b></h5>
        </div>
        <div class="col-sm-2">
          <h5><b>About</b></h5>
          <ul>
            <li>
              <a href="#">Blog</a>
            </li>
          </ul>
        </div>
        <div class="col-sm-2">
          <h5><b>Social</b></h5>
          <ul>
            <li>
              <a target="_blank" href="https://www.facebook.com/hypecop">Facebook</a>
            </li>
            <li>
              <a target="_blank" href="https://twitter.com/hypecop">Twitter</a>
            </li>
            <li>
              <a target="_blank" href="https://plus.google.com/117435860258343924038/">Google+</a>
            </li>
            <li>
              <a target="_blank" href="https://www.youtube.com/channel/UCuhE4_2f1xDoSUtkLTJo5UA">YouTube</a>
            </li>
            <li>
              <a target="_blank" href="https://instagram.com/hypecop/">Instagram</a>
            </li>
            <li>
              <a target="_blank" href="https://vine.co/u/1223656025073287168">Vine</a>
            </li>
          </ul>
        </div>
        <div class="col-sm-2">
          <h5><b>Support</b></h5>
          <ul>
            <li>
              <a target="_blank" href="">Help</a>
            </li>
            <li>
              <a target="_blank" href="">Report</a>
            </li>
            <li>
              <a target="_blank" href="mailto:hypecop@gmail.com">Contact us</a>
            </li>
          </ul>
        </div>
        <div class="col-sm-2">
          <h5><b>Legal</b></h5>
          <ul>
            <li>
              <a href="#">Privacy</a>
            </li>
            <li>
              <a href="#">Terms</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</div><!-- /.container -->

<!--SCRIPTS-->
<script src="/js/ext/sails.io.js"></script>
<script src="/js/ext/angular.1.3.js"></script>
<script src="/js/ext/jquery-2.1.4.min.js"></script>
<script src="/js/ext/jquery.validate.min.js"></script>
<script src="/js/ext/angular-toastr.js"></script>
<script src="/js/ext/bootstrap.min.js"></script>
<script src="/js/ext/compareTo.module.js"></script>
<script src="/js/public/signup/SignupModule.js"></script>
<script src="/js/public/home/HomeModule.js"></script>
<script src="/js/private/dashboard/DashboardModule.js"></script>
<script src="/js/private/dashboard/DashboardController.js"></script>
<script src="/js/public/home/HomeController.js"></script>
<script src="/js/public/signup/SignupController.js"></script>
<!--SCRIPTS END-->

</body>
</html>