<!DOCTYPE html>
<html>
<head>
	<title>Hypecop</title>

	<!-- Viewport mobile tag for sensible mobile support -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="favicon.ico">

	<!--STYLES-->
	<link rel="stylesheet" href="/styles/ext/bootstrap.min.css">
	<link rel="stylesheet" href="/styles/angular-toastr.css">
	<link rel="stylesheet" href="/styles/carousel.css">
	<link rel="stylesheet" href="/styles/custom-bootstrap.css">
	<link rel="stylesheet" href="/styles/drop.css">
	<link rel="stylesheet" href="/styles/ext/bootstrap-theme.min.css">
	<link rel="stylesheet" href="/styles/home.css">
	<link rel="stylesheet" href="/styles/importer.css">
	<link rel="stylesheet" href="/styles/simple-sidebar.css">
	<!--STYLES END-->

	<!--Added this so the client has access to the csrf tag and it's grabbed first service side on every page -->
	<script type="text/javascript">
		window.SAILS_LOCALS = { _csrf: "<%= _csrf %>" };
	</script>

</head>

<body ng-app="SignupModule" ng-controller="SignupController" ng-cloak>
		<nav class="navbar navbar-default navbar-inverse navbar-static-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/">Hypecop</a>
					<!-- <img src="images/logo_blk.png"> -->
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<form class="navbar-form navbar-right">
						<table cellspacing="2" role="presentation">
							<tbody>
								<tr>
									<td>
										<div class="form-group">
											<input type="text" placeholder="Email" class="form-control">
										</div>
									</td>
									<td>
										<div class="form-group">
											<input type="password" placeholder="Password" class="form-control">
										</div>
									</td>
									<td>
										<button type="submit" class="btn btn-primary">Sign in</button>
									</td>
								</tr>
								<tr>
									<td class="login_form_label_field"> <!-- class??? -->
										<div>
											<div class="uiInputLabel clearfix uiInputLabelLegacy">
												<input id="persist_box" class="uiInputLabelInput uiInputLabelCheckbox" type="checkbox" tabindex="3" value="1" name="persistent">
												<label class="uiInputLabelLabel" for="persist_box">Remember me</label>
											</div>
											<input type="hidden" value="0" name="default_persistent">
										</div>
									</td>
									<td class="login_form_label_field">
										<a href="#">Forgot password</a>
									</td>
								</tr>
							</tbody>
						</table>
						<input type="hidden" name="_csrf" value="<%= _csrf %>" />
					</form>
				</div>
			</div>
		</nav>

	<!-- SIGNUP -->
  <div class="container signup">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <form ng-submit="submitSignupForm()" id="sign-up-form" name="signup"><!-- class="form-signin" --><!-- action="/user" method="post" accept-charset="utf-8" class="form" role="form">--><!-- ng-submit="submitSignupForm()" id="sign-up-form"  name="signup"> --><!-- -->
          <h2 class="featurette-heading">Cop the Hype now.</h2>
          <br>
          <!-- N A M E S -->
          <div class="row">
          	<!-- F I R S T   N A M E -->
          	<!-- checking whether the form "signup" with the "name" property is both $invalid AND $dirty.  If it is insert the "has-error" class on the input field (i.e. insert a red border around the input field)-->
            <div class="control-group form-group col-xs-6 col-md-6"
            ng-class="{'has-error':signup.firstName.$invalid && signup.firstName.$dirty}">
              <input type="text" name="firstName" value="" class="form-control input-lg" placeholder="First Name" ng-model="signupForm.firstName" ng-maxlength="40" required/>

              <!-- Also, if signup.name.$dirty is true, show the message depending upon the particular properties truthiness (e.g. required
              and/or maxlength) -->
              <span class="help-block has-error" ng-if="signup.firstName.$dirty">
              	<span ng-show="signup.firstName.$error.required">First name is required.</span>
              	<span ng-show="signup.firstName.$error.maxlength">The name cannot be more than 40 characters.</span>
              </span>
            </div>
            
            <!-- L A S T   N A M E -->
            <div class="control-group form-group col-xs-6 col-md-6" ng-class="{'has-error':signup.lastName.$invalid && signup.lastName.$dirty}">
              <input type="text" name="lastName" value="" class="form-control input-lg" placeholder="Last Name" ng-model="signupForm.lastName" ng-maxlength="40" required/>

              <span class="help-block has-error" ng-if="signup.lastName.$dirty">
              	<span ng-show="signup.lastName.$error.required">Last name is required.</span>
              	<span ng-show="signup.lastName.$error.maxlength">The name cannot be more than 40 characters.</span>
              </span>
            </div>
          </div>
          
          <!-- E - M A I L -->
          <div class="control-group form-group" ng-class="{'has-error':signup.email.$invalid && signup.email.$dirty}">
          	<input type="email" name="email" value="" class="form-control input-lg" placeholder="Your Email" ng-model="signupForm.email" required/>

          	<span class="help-block has-error" ng-if="signup.email.$dirty">
          		<span ng-show="signup.email.$error.required">Email address is required.</span>
          		<span ng-show="signup.email.$error.email">Not a valid email address.</span>
          	</span>
          </div>
          
          <!-- P A S S W O R D -->
          <div class="control-group form-group" ng-class="{'has-error':signup.password.$invalid && signup.password.$dirty}">
          	<input type="password" name="password" value="" class="form-control input-lg" placeholder="Password" ng-model="signupForm.password" id="password" required ng-minlength="12"/>

          	<span class="help-block has-error" ng-if="signup.password.$dirty">
          		<span ng-show="signup.password.$error.required">Password is required.</span>
          		<span ng-show="signup.password.$error.minlength">Password must be at least 12 characters.</span>
          	</span>
          </div>
          
					<!-- A G R E E M E N T -->
          <span class="help-block">By clicking Sign up, you agree to our <a href="#">Terms</a>.</span>
          <!-- Disable signup button until the form has no errors -->
          <button class="btn btn-primary btn-lg btn-block" type="submit" ng-disabled="signup.$invalid">
          	<span ng-show="!signupForm.loading">Sign up</span>
          	<span class="overlord-loading-spinner fa fa-spinner" ng-show="signupForm.loading" ></span>
          	<span ng-show="signupForm.loading">Preparing your new account...</span>
          </button>
          <!-- <button class="btn btn-primary btn-lg btn-block" type="submit">Sign up</button> -->
          <input type="hidden" name="_csrf" value="<%= _csrf %>" />
        </form>
      </div>
    </div>            
  </div>

<br/>

<!-- FOOTER -->
  <footer>
    <div class="container">
      <div class="row">
        <p class="pull-right col-sm-2"><a href="#myCarousel">Back to top</a></p>
        <div class="col-sm-2">
          <h5><b>Hypecop &copy; 2015</b></h5>
        </div>
        <div class="col-sm-2">
          <h5><b>About</b></h5>
          <ul>
            <li>
              <a href="#">Blog</a>
            </li>
          </ul>
        </div>
        <div class="col-sm-2">
          <h5><b>Social</b></h5>
          <ul>
            <li>
              <a target="_blank" href="https://www.facebook.com/hypecop">Facebook</a>
            </li>
            <li>
              <a target="_blank" href="https://twitter.com/hypecop">Twitter</a>
            </li>
            <li>
              <a target="_blank" href="https://plus.google.com/117435860258343924038/">Google+</a>
            </li>
            <li>
              <a target="_blank" href="https://www.youtube.com/channel/UCuhE4_2f1xDoSUtkLTJo5UA">YouTube</a>
            </li>
            <li>
              <a target="_blank" href="https://instagram.com/hypecop/">Instagram</a>
            </li>
            <li>
              <a target="_blank" href="https://vine.co/u/1223656025073287168">Vine</a>
            </li>
          </ul>
        </div>
        <div class="col-sm-2">
          <h5><b>Support</b></h5>
          <ul>
            <li>
              <a target="_blank" href="">Help</a>
            </li>
            <li>
              <a target="_blank" href="">Report</a>
            </li>
            <li>
              <a target="_blank" href="mailto:hypecop@gmail.com">Contact us</a>
            </li>
          </ul>
        </div>
        <div class="col-sm-2">
          <h5><b>Legal</b></h5>
          <ul>
            <li>
              <a href="#">Privacy</a>
            </li>
            <li>
              <a href="#">Terms</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>


<!--SCRIPTS-->
<script src="/js/ext/sails.io.js"></script>
<script src="/js/ext/angular.1.3.js"></script>
<script src="/js/ext/jquery-2.1.4.min.js"></script>
<script src="/js/ext/jquery.validate.min.js"></script>
<script src="/js/ext/angular-toastr.js"></script>
<script src="/js/ext/bootstrap.min.js"></script>
<script src="/js/ext/compareTo.module.js"></script>
<script src="/js/public/signup/SignupModule.js"></script>
<script src="/js/public/home/HomeModule.js"></script>
<script src="/js/private/dashboard/DashboardModule.js"></script>
<script src="/js/private/dashboard/DashboardController.js"></script>
<script src="/js/public/home/HomeController.js"></script>
<script src="/js/public/signup/SignupController.js"></script>
<!--SCRIPTS END-->
</body>
</html>
