<div class="container signup">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <form action="/user/create" method="post" accept-charset="utf-8" class="form" role="form">
        <h2 class="featurette-heading">Cop the Hype now.</h2>
        <br>
        <% if (flash && flash.err) { %>
          <ul class="alert alert-success">
          <% Object.keys(flash.err).forEach(function(error) { %>
          <li><%- JSON.stringify(flash.err[error]) %></li>
        <% }) %>
          </ul>
        <% } %>
        <div class="row">
          <div class="col-xs-6 col-md-6">
            <input type="text" name="firstName" value="" class="form-control input-lg" placeholder="First Name" required/>
          </div>
          <div class="col-xs-6 col-md-6">
            <input type="text" name="lastName" value="" class="form-control input-lg" placeholder="Last Name" required/>
          </div>
        </div>
        <input type="text" name="email" value="" class="form-control input-lg" placeholder="Your Email" required/>
        <input type="password" name="pw" value="" class="form-control input-lg" placeholder="Password" minlength="6" required/>
        <span class="help-block">By clicking Sign up, you agree to our <a href="#">Terms</a>.</span>
        <button class="btn btn-primary btn-lg btn-block" type="submit">Sign up</button>
        <input type="hidden" name="_csrf" value="<%= _csrf %>" />
      </form>
    </div>
  </div>            
</div>