<div class="container">
	<h1><%= user.firstName %> <%= user.lastName %></h1>
	<hr>
	<h3>contact: <%= user.email %></h3>
	<a class="btn btn-medium btn-primary" href="/user/edit/<%= user.id %>">Edit</a>
</div>