<div class="container">
	<form action="/user/update/<%= user.id %>" method="POST" class="form">
		<input value="<%= user.firstName %>" name="firstName" type="text" class="form-control"/>
		<input value="<%= user.lastName %>" name="lastName" type="text" class="form-control"/>
		<input value="<%= user.email %>" name="email" type="text" class="form-control"/>
		<input type="submit" value="Proceed" class="btn btn-lg btn-primary btn-block"/>
		<input type="hidden" name="_csrf" value="<%= _csrf %>"/>
	</form>
</div>